{% extends 'base.html.twig' %}

{% block body %}
<main class="flex flex-col items-center justify-center h-screen w-full bg-gray-100">
    <a href="{{ path('login') }}" class="text-black text-2xl title-font font-bold mb-2">Se connecter</a>
    <h1 class="text-black text-2xl title-font font-bold mb-2">Liste de tâches
    {% if name != '' %}
        - {{ name }}
    {% endif %}
    </h1>
    <div {{ vue_component('MyComponent') }}></div>
</main>

{% endblock %}